flow.json
[{"id":"16d33d79.579803","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea04e9f1.3a0f88","type":"darksky-credentials","z":"","key_identifier":"stevenaeola"},{"id":"899fd00d.18894","type":"debug","z":"16d33d79.579803","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":480,"wires":[]},{"id":"6af76a2c.32d0e4","type":"function","z":"16d33d79.579803","name":"get weather for hour","func":"// msg1 contains the incoming beat with data added for the relevant day and hour\n// msg2 contain details of the date to be queried by the darksky node\n// output of darksky node is returned as in input\n\n\nconst startDate = '2019-02-26';\n\nvar msg1 = null;\nvar msg2 = null;\n\nlet weather = context.get('weather');\n\nlet beat = msg.beat || context.get('beatWaiting');\n\nif (msg.payload.weather) {\n    weather[msg.time] = msg.data.hourly;\n    context.set('weather', weather);\n    context.set('msgWaiting', msg);\n    console.log('updating weather for ' + msg.time);\n} else if (beat % 24 ==1) {\n    // start of a new day, get some new data\n    msg2 = msg;\n    var dayoffset = Math.floor((msg.beat-1)/24);\n    dayoffset *= 1000*60*60*24;\n    msg2.time=\"\" + ((new Date().getTime()) + dayoffset) ;\n    context.set('beatWaiting', beat);\n} else {\n    // just add the correct weather details from the stored context\n}\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":220,"y":260,"wires":[["899fd00d.18894"],["ea2d7412.a151b8"]]},{"id":"ea2d7412.a151b8","type":"darksky","z":"16d33d79.579803","darksky":"ea04e9f1.3a0f88","name":"","lon":"-1.666488","lat":"54.80006","date":"","time":"","mode":"message","lang":"en","units":"uk2","x":180,"y":340,"wires":[["6af76a2c.32d0e4"]]},{"id":"a98e2582.f2dfc8","type":"beat","z":"16d33d79.579803","name":"","output":"beat","bpm":"","latency":0,"subBeats":[],"x":230,"y":100,"wires":[["a9c8dbb1.7746a8"]]},{"id":"5eec6673.b915c8","type":"inject","z":"16d33d79.579803","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":60,"wires":[["a98e2582.f2dfc8"]]},{"id":"ad8616b6.1ad7a8","type":"inject","z":"16d33d79.579803","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":100,"wires":[["a98e2582.f2dfc8"]]},{"id":"dcde725f.8c179","type":"inject","z":"16d33d79.579803","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["a98e2582.f2dfc8"]]},{"id":"a9c8dbb1.7746a8","type":"divider","z":"16d33d79.579803","name":"bar","input":"beat","output":"bar","ratio":4,"x":370,"y":100,"wires":[["e4526722.a59668"]]},{"id":"e4526722.a59668","type":"divider","z":"16d33d79.579803","name":"day","input":"bar","output":"day","ratio":"6","x":510,"y":100,"wires":[["24d2fcd3.6bfa64","6af76a2c.32d0e4"]]},{"id":"24d2fcd3.6bfa64","type":"link out","z":"16d33d79.579803","name":"beat generator","links":["52699e6a.2c8e4"],"x":635,"y":100,"wires":[]}]