flow.json
[{"id":"16d33d79.579803","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ea04e9f1.3a0f88","type":"darksky-credentials","z":0,"key_identifier":"stevenaeola"},{"id":"471bd0c5.af1a5","type":"darksky-credentials","z":"","key_identifier":"rbradley1"},{"id":"6af76a2c.32d0e4","type":"function","z":"16d33d79.579803","name":"get weather for hour","func":"// msg1 contains the incoming beat with data added for the relevant day and hour\n// msg2 contain details of the date to be queried by the darksky node\n// output of darksky node is returned as in input\n\n// node context stores weather data that has already been received\n// and a list of beats that are waiting for their weather data before sending on\n\nlet weather = context.get('weather') || {};\nlet waitingBeats = context.get('waitingBeats') || [];\n\nconst startDate = '2019-02-26';\nconst startStamp = new Date(startDate).getTime();\n\n// find timestamp of the start of the day\n// corresponding to the beat number of the message\nfunction dayStart(beatMsg){\n    let dayoffset = Math.floor((beatMsg.beat-1)/24);\n    dayoffset *= 60*60*24*1000;\n    return \"\" + (startStamp + dayoffset);\n}\n\nfunction haveData(beatMsg){\n    return weather.hasOwnProperty(dayStart(beatMsg));\n}\n\nfunction sendBeat(beatMsg){\n    let w = weather[dayStart(beatMsg)];\n    let hour = ((beatMsg.beat-1) % 24);\n    if(!w || !w.daily || ! w.hourly || !w.hourly.data || !w.hourly.data[hour]){\n        node.warn (`no data for hour ${hour} in ${dayStart(beatMsg)}`);\n        return;\n    }\n    beatMsg.weather = {daily: w.daily.data,\n                        hourly: w.hourly.data[hour]};\n    node.send([beatMsg,null]);\n}\n\nfunction requestData(beatMsg){\n    node.send([null,{time: dayStart(beatMsg)}]);\n}\n\nif (msg.payload.weather) {\n    weather[\"\"+ new Date(msg.time).getTime()] = msg.data;\n    context.set('weather', weather);\n    node.warn('updating weather for ' + msg.time);\n} else if(msg.payload === 'tick') {\n//    node.warn(`handling beat number ${msg.beat}`)\n    if (msg.beat % 24 == 1) {\n        if(!haveData(msg)){\n            requestData(msg);\n        }\n    }\n    waitingBeats.push(msg);\n}\n\nwaitingBeats = waitingBeats.filter(function(beatMsg){\n    if(haveData(beatMsg)) {\n        sendBeat(beatMsg);\n    }\n    return !haveData(beatMsg);\n});\n\ncontext.set('waitingBeats', waitingBeats);","outputs":2,"noerr":0,"x":240,"y":260,"wires":[["c466e6bd.6d51e8"],["ea2d7412.a151b8"]]},{"id":"a98e2582.f2dfc8","type":"beat","z":"16d33d79.579803","name":"","output":"beat","bpm":"200","latency":"1000","conductorIP":"","subBeats":[],"x":230,"y":100,"wires":[["a9c8dbb1.7746a8"]]},{"id":"5eec6673.b915c8","type":"inject","z":"16d33d79.579803","name":"","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":60,"wires":[["a98e2582.f2dfc8"]]},{"id":"ad8616b6.1ad7a8","type":"inject","z":"16d33d79.579803","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":100,"wires":[["a98e2582.f2dfc8"]]},{"id":"dcde725f.8c179","type":"inject","z":"16d33d79.579803","name":"","topic":"","payload":"reset","payloadType":"str","repeat":"","crontab":"","once":false,"x":100,"y":140,"wires":[["a98e2582.f2dfc8"]]},{"id":"a9c8dbb1.7746a8","type":"divider","z":"16d33d79.579803","name":"bar","input":"beat","output":"bar","ratio":4,"x":370,"y":100,"wires":[["e4526722.a59668"]]},{"id":"e4526722.a59668","type":"divider","z":"16d33d79.579803","name":"day","input":"bar","output":"day","ratio":"6","x":510,"y":100,"wires":[["24d2fcd3.6bfa64","6af76a2c.32d0e4"]]},{"id":"24d2fcd3.6bfa64","type":"link out","z":"16d33d79.579803","name":"beat generator","links":["52699e6a.2c8e4","c88c4ecd.7431c"],"x":635,"y":100,"wires":[]},{"id":"d07dc5b7.5b5088","type":"change","z":"16d33d79.579803","name":"","rules":[{"t":"set","p":"note","pt":"msg","to":"$round(msg.weather.hourly.temperature)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":380,"wires":[["4b54ecdd.ab0724"]]},{"id":"4b54ecdd.ab0724","type":"synth","z":"16d33d79.579803","name":"","synthtype":"marimba","filterTags":{},"volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"pan":"0"},"x":720,"y":380,"wires":[["955ce90d.81cc08"]]},{"id":"db052864.0145c8","type":"udp out","z":"16d33d79.579803","name":"","addr":"127.0.0.1","iface":"","port":"57110","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":560,"y":660,"wires":[]},{"id":"16b40d82.692f82","type":"osc","z":"16d33d79.579803","name":"","path":"","metadata":false,"x":380,"y":660,"wires":[["db052864.0145c8"]]},{"id":"268199d7.3b3436","type":"link in","z":"16d33d79.579803","name":"supercollider","links":["d4820ccf.04808","1f9be381.6a955c"],"x":275,"y":660,"wires":[["16b40d82.692f82"]]},{"id":"925d4545.3f34b8","type":"link in","z":"16d33d79.579803","name":"reverb supercollider","links":["f06e683f.9b4ad8","6ca2d59c.bf097c","c9444941.023748"],"x":275,"y":540,"wires":[["67443f03.ad413"]]},{"id":"74934b81.2b0764","type":"link in","z":"16d33d79.579803","name":"delay supercollider","links":[],"x":275,"y":600,"wires":[["955ce90d.81cc08"]]},{"id":"67443f03.ad413","type":"soundfx","z":"16d33d79.579803","fxtype":"reverb","volume":100,"fxcontrols":{"room":"0.5","damp":"0.5","mix":"0.33"},"x":370,"y":540,"wires":[["16b40d82.692f82"]]},{"id":"955ce90d.81cc08","type":"soundfx","z":"16d33d79.579803","fxtype":"delay","volume":100,"fxcontrols":{"beats":"1","decaybeats":"10"},"x":370,"y":600,"wires":[["16b40d82.692f82"]]},{"id":"ea2d7412.a151b8","type":"darksky","z":"16d33d79.579803","darksky":"471bd0c5.af1a5","name":"","lon":"-1.666488","lat":"54.80006","date":"","time":"","mode":"message","lang":"en","units":"uk2","x":240,"y":360,"wires":[["6af76a2c.32d0e4"]]},{"id":"627c7c97.d76fd4","type":"debug","z":"16d33d79.579803","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":140,"wires":[]},{"id":"36abb5b3.f5dbea","type":"switch","z":"16d33d79.579803","name":"","property":"beat_of_bar","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":800,"wires":[["ddcc7dfc.d38ad"],["4ef8708e.8913d"],[],["4ef8708e.8913d"]]},{"id":"c88c4ecd.7431c","type":"link in","z":"16d33d79.579803","name":"","links":["24d2fcd3.6bfa64"],"x":75,"y":800,"wires":[["36abb5b3.f5dbea"]]},{"id":"ddcc7dfc.d38ad","type":"synth","z":"16d33d79.579803","name":"","synthtype":"house","filterTags":{},"volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"pan":"0"},"x":350,"y":780,"wires":[["d4820ccf.04808"]]},{"id":"4ef8708e.8913d","type":"synth","z":"16d33d79.579803","name":"","synthtype":"drum_snare_soft","filterTags":{},"volume":50,"octave":0,"root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"pan":"0"},"x":390,"y":820,"wires":[["d4820ccf.04808"]]},{"id":"d4820ccf.04808","type":"link out","z":"16d33d79.579803","name":"","links":["268199d7.3b3436"],"x":540,"y":800,"wires":[]},{"id":"c466e6bd.6d51e8","type":"sequencer","z":"16d33d79.579803","name":"sequencer","input":"bar","notesrand":false,"rhythm":"[2]","rhythmrand":false,"loop":true,"start":"day","output":"all","controls":[{"name":"degree","values":"[\"I\",\"VI\",\"V\",\"IV\"]"}],"x":470,"y":240,"wires":[["d07dc5b7.5b5088","9750b61c.a2df68"],[]]},{"id":"9750b61c.a2df68","type":"sequencer","z":"16d33d79.579803","name":"sequencer","input":"bar","notesrand":true,"rhythm":"[2]","rhythmrand":false,"loop":true,"start":"day","output":"single","controls":[{"name":"note","values":"1"}],"x":690,"y":240,"wires":[["23e16616.8e021a","627c7c97.d76fd4"],[]]},{"id":"23e16616.8e021a","type":"synth","z":"16d33d79.579803","name":"","synthtype":"moog","filterTags":{},"volume":"30","octave":"-2","root":"","scale":"","degree":"","outBus":0,"synthcontrols":{"cutoff":"1000","pan":"0"},"x":850,"y":240,"wires":[["1f9be381.6a955c"]]},{"id":"1f9be381.6a955c","type":"link out","z":"16d33d79.579803","name":"","links":["268199d7.3b3436"],"x":1015,"y":240,"wires":[]}]